@font-face {
  font-family: 'JetBrains';
  src: url('JetBrainsMonoNerdFont-Bold.ttf') format('truetype');
}

body {
  font-family: 'JetBrains', Arial, sans-serif;
  color: #00F593;
  margin: 0;
  font-size: 18px;
}

.status-bar {
  width: 1920px;
  height: 40px;
  background: black;
  opacity: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-bar-content {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.label {
  color: white;
}

.music-stats {
  position: absolute;
  bottom: 11px;
  left: 1025px;
  background: black;
  opacity: 80%;
  border: 2px solid #00F593;
  height: 115px;
  width: 452px;
  padding: 10px;
}
