@font-face {
  font-family: 'JetBrains';
  src: url('JetBrainsMonoNerdFont-Bold.ttf') format('truetype');
}

body {
  color: white;
  margin: 0;
  font-size: 18px;
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.status-bar {
  width: 1920px;
  height: 40px;
  background: black;
  opacity: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'JetBrains', Arial, sans-serif;
}

.status-bar-content {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.value {
  color: #00F593;
}

.music-stats-container {
  position: absolute;
  bottom: 11px;
  left: 1025px;
  background: black;
  opacity: 80%;
  border: 2px solid #00F593;
  height: 115px;
  width: 452px;
  font-size: 16px;
}

.music-stats {
  display: flex;
  height: 100%;
  width: 100%;
}

.music-stats-left {
  padding-left: 20px;
  padding-right: 25px;
  border-right: solid 1px #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-stats-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

h3 {
  font-size: 1.1em;
  margin-block-start: 0em;
  margin-block-end: 0.5em;
}

.code {
  font-family: 'JetBrains', Arial, sans-serif;
}

table td:first-child {
  padding-right: 10px;
}

.music-table td:nth-child(2) {
  text-align: right;
  font-family: 'JetBrains', Arial, sans-serif;
}

.green {
  color: #00F593;
}

.red {
  color: #EB0400;
}

