@font-face {
  font-family: 'JetBrains';
  src: url('JetBrainsMonoNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'JetBrains', Arial, sans-serif;
  color: #00F593;
  margin: 0;
}

.status-bar {
  width: 1920px;
  height: 30px;
  background: black;
  opacity: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-bar-content {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.label {
  color: white;
}
